:root
{
    --color-beige: #D4CCBD;
    --color-light-beige: #e0d9cc;
    --color-dark-purple: #590f87;
    --color-purple: #7b22b2;
    --color-green: #0E8242;
    --color-light-green: #04d562;
    --color-dark-green: #143322;
    --color-yellow: #c3a859;
    --color-white: #E3E9F7;
    --color-black: #000000;

    --font-family-popping: 'Popping', sans-serif;
    --font-family-primary: var(--font-family-popping);
}